.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
docs/Doxyfile
src/config.h
src/glfw3.pc
src/libglfw3.so
src/libglfw3.a
src/libglfw3.dylib
src/glfw3.lib
src/glfw3.dll
src/glfw3dll.lib
examples/*.app
examples/*.exe
examples/boing
examples/gears
examples/heightmap
examples/splitview
examples/simple
examples/wave
src/config.h
tests/*.app
tests/*.exe
tests/accuracy
tests/clipboard
tests/defaults
tests/events
tests/fsaa
tests/fsfocus
tests/gamma
tests/glfwinfo
tests/iconify
tests/joysticks
tests/modes
tests/peter
tests/reopen
tests/sharing
tests/tearing
tests/threads
tests/title
tests/version
tests/windows

# Windows/VS ignores
*.dir
*.vcxproj*
*.sln
_ReSharper*
Win32
examples/Debug
tests/Debug
src/Debug
*.opensdf
*.sdf
