.DS_Store
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
docs/Doxyfile
examples/*.app
examples/*.exe
examples/boing
examples/gears
examples/heightmap
examples/splitview
examples/triangle
examples/wave
src/config.h
src/glfw.dll
src/glfw.lib
src/glfwdll.lib
src/libglfw.a
src/libglfw.dll
src/libglfw.dylib
src/libglfw.lib
src/libglfw.pc
src/libglfw.so
src/libglfwdll.lib
tests/*.app
tests/*.exe
tests/accuracy
tests/defaults
tests/dynamic
tests/events
tests/fsaa
tests/fsfocus
tests/gamma
tests/glfwinfo
tests/iconify
tests/joysticks
tests/peter
tests/reopen
tests/sharing
tests/tearing
tests/title
tests/version
tests/windows
